@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  /* width: 90%; */
}
.heroimage {
  /* display: flex; */
  background-image: url(./project_images/HeroImage.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 773px;
  width: 1440px;
  justify-content: center;
  /* flex-direction: column; */
}
.head {
  height: 100px;
  width: 1204px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.h-text {
  display: flex;
  justify-content: center;
  gap: 24px;
  color: white;
}
.vector {
  height: 15px;
  width: 11.67px;
}
.logo {
  height: 34px;
  width: 100px;
}
.await {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.font-bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: weight; */
  font-style: normal;
}
.font-hanuman {
  font-family: "Hanuman", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-Montserrat {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-left: 12px;
}
.awaits {
  font-size: 250px;
  font-weight: 400;
  color: white;
  height: 250px;
}
.pure {
  font-size: 80px;
  font-weight: 400;
  color: #e8edf2b8;
  height: 80px;
  margin-top: 69px;
}
.grey-2024 {
  font-size: 64px;
  font-weight: 900;
  color: #ffffffcc;
  height: 64px;
}
.frame {
  background-image: url(./project_images/Location\ image.png);
  height: 512px;
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #9db8da33;
  color: #22222208;
}
.frame div {
  background-size: contain;
  background-repeat: no-repeat;
  height: 370px;
  width: 275.49px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 37.4px;
  color: #fdfdfecc;
  border-radius: 40px;
  box-shadow: 8px 8px #c0d5ef, -8px -8px #8caed7;
}
.tsonh1 {
  background-image: url(./project_images/1.png);
  text-shadow: 0px 4px #3c3c3ca6;
}
.tsonh1:hover {
  background-image: url(./project_images/11.png);
}
.tsonh2 {
  background-image: url(./project_images/2.png);
  text-shadow: 0px 4px #3c3c3ca6;
}
.tsonh2:hover {
  background-image: url(./project_images/22.png);
}
.tsonh3 {
  background-image: url(./project_images/3.png);
  text-shadow: 0px 4px #3c3c3ca6;
}
.tsonh3:hover {
  background-image: url(./project_images/33.png);
}
.tsonh4 {
  background-image: url(./project_images/4.png);
  text-shadow: 0px 4px #3c3c3ca6;
}
.tsonh4:hover {
  background-image: url(./project_images/44.png);
}
.map {
  background-image: url(./project_images/Roadmap\ image.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1022px;
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 35px;
}
.tom {
  height: 902px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.header2 {
  display: flex;
  height: 204px;
  width: 1440px;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 20px;
  font-family: sans-serif;
}
.header2 h2 {
  padding-bottom: 10px;
  font-size: 40px;
}
.column {
  display: flex;
  height: 640px;
  width: 513px;
  align-items: end;
  flex-direction: column;
  margin-left: 120px;
  justify-content: space-between;
}
.col1 {
  display: flex;
  height: 112px;
  width: 513px;
  align-items: center;
  border-radius: 100px;
  background-color: #eee9d9;
  border: solid 3px #eee9d9;
  justify-content: space-between;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 2;
}
.col1:hover {
  border: 3px solid white;
}
.col2 {
  display: flex;
  height: 112px;
  width: 513px;
  align-items: center;
  border-radius: 100px;
  background-color: #8bb8c1cc;
  border: solid 3px #8bb8c1cc;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.col2:hover {
  border: 3px solid white;
}
.col3 {
  display: flex;
  height: 112px;
  width: 513px;
  align-items: center;
  border-radius: 100px;
  background-color: #aad8d7cc;
  border: solid 3px #aad8d7cc;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.col3:hover {
  border: 3px solid white;
}
.col4 {
  display: flex;
  height: 112px;
  width: 513px;
  align-items: center;
  border-radius: 100px;
  background-color: #8bc0bdcc;
  border: solid 3px #8bc0bdcc;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.col4:hover {
  border: 3px solid white;
}
.col5 {
  display: flex;
  height: 112px;
  width: 513px;
  align-items: center;
  border-radius: 100px;
  background-color: #97cce0cc;
  border: solid 3px #97cce0cc;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.col5:hover {
  border: 3px solid white;
}
.zuun {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 30px;
}
h4 {
  align-content: center;
  margin-right: 38px;
  height: 52px;
  width: 52px;
  background-color: white;
  border-radius: 500px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.zuun1 {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer {
  background-image: url(./project_images/Price&Footer\ image.png);
  width: 1440px;
  height: 1120px;
}
.f_header {
  display: flex;
  height: 140px;
  width: 1440px;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 20px;
  font-family: sans-serif;
}
.f_header h2 {
  padding-bottom: 20px;
  font-size: 40px;
}
.price {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.p1 {
  background-color: #fafbfc;
  background-size: contain;
  height: 527px;
  max-width: 384px;
  display: flex;
  justify-items: space-around;
  align-items: start;
  font-family: sans-serif;
  border-radius: 40px;
  flex-direction: column;
  margin-top: 80px;
  gap: 24px;
}
.p1 {
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;
}
.p1 h1 {
  height: 49px;
}
.p1:hover {
  box-shadow: 8px 8px #29728b40, -8px -8px #2e414766;
}
.opacity {
  color: grey;
}
.pack {
  margin-left: 16px;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button2 {
  display: flex;
  background-color: #6972b5;
  border-radius: 16px;
  justify-content: center;
  margin-left: 110px;
  height: 30px;
  align-items: center;
  width: 90px;
  color: white;
}
.button {
  display: flex;
  height: 48px;
  width: 336px;
  background-color: #a4d1e2;
  border-radius: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
}
.button:hover {
  background-color: #18181be5;
  color: white;
}
.text {
  display: flex;
  flex-direction: column;
}
.text img {
  width: 15px;
  height: 12px;
}
.p {
  display: flex;
  justify-content: start;
  margin-left: 30px;
  height: 24px;
  font-family: sans-serif;
  padding-bottom: 10px;
}
.text2 {
  display: flex;
  flex-direction: column;
}
.text2 p {
  height: 17px;
}
.text2 img {
  height: 11.17px;
  width: 14.66px;
}
.text3 {
  display: flex;
  align-items: center;
  color: rgb(58, 58, 58);
  padding-bottom: 10px;
}
.text3 p {
  padding-left: 15px;
}
/* .text3 img{
    height: 11.17px;
} */
.hearth {
  display: flex;
  align-items: center;
  height: 36px;
}
.hearth2:hover {
  opacity: 0.5;
}
.hearth img {
  height: 36px;
  width: 36px;
}
.f_foot {
  display: flex;
  height: 204px;
  width: 1440px;
  margin-top: 170px;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 100px;
  padding-right: 100px; */
}
.f_foot img {
  margin-right: 120px;
}
.f_end {
  display: flex;
}
.fb {
  display: flex;
  height: 44px;
  width: 171px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-radius: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
  gap: 10px;
}
.fb img {
  margin: 0;
  padding: 0;
}
.insta {
  display: flex;
  height: 44px;
  width: 171px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-radius: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  gap: 10px;
}
.insta img {
  margin: 0;
  padding: 0;
}
.ins {
  color: #6972b5;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
  display: flex;
  height: 245px;
  width: 245px;
  position: absolute;
  /* display: none; */
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 1;
}
.col1:hover + .circle1 {
  opacity: 1;
}
.col2:hover + .circle2 {
  opacity: 1;
}
.col3:hover + .circle3 {
  opacity: 1;
}
.col4:hover + .circle4 {
  opacity: 1;
}
.col5:hover + .circle5 {
  opacity: 1;
}
.circle1 {
  top: 350px;
  right: 130px;
}
.circle2 {
  top: 200px;
  right: 350px;
}
.circle3 {
  top: 350px;
  right: 500px;
}
.circle4 {
  top: 150px;
  right: 550px;
}
.circle5 {
  top: 180px;
  right: 400px;
}
